In [1]:
import numpy as np
import pandas as pd
import keras

# 1. Data Prep

In [4]:
data = pd.read_csv('binary.csv')

In [5]:
data.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

### Make dummy variables for rank

In [13]:
data_rank = pd.get_dummies(data['rank'], prefix='rank')

In [14]:
data_rank

     rank_1  rank_2  rank_3  rank_4
0         0       0       1       0
1         0       0       1       0
2         1       0       0       0
3         0       0       0       1
4         0       0       0       1
..      ...     ...     ...     ...
395       0       1       0       0
396       0       0       1       0
397       0       1       0       0
398       0       1       0       0
399       0       0       1       0

[400 rows x 4 columns]

In [18]:
data = pd.concat([data, data_rank],axis=1)

In [22]:
data = data.drop('rank', axis=1)

In [23]:
data

     admit  gre   gpa  rank_1  rank_2  rank_3  rank_4
0        0  380  3.61       0       0       1       0
1        1  660  3.67       0       0       1       0
2        1  800  4.00       1       0       0       0
3        1  640  3.19       0       0       0       1
4        0  520  2.93       0       0       0       1
..     ...  ...   ...     ...     ...     ...     ...
395      0  620  4.00       0       1       0       0
396      0  560  3.04       0       0       1       0
397      0  460  2.63       0       1       0       0
398      0  700  3.65       0       1       0       0
399      0  600  3.89       0       0       1       0

[400 rows x 7 columns]

### Standarize features

In [24]:
for field in ['gre','gpa']:
    mean, std = data[field].mean(), data[field].std()
    data.loc[:,field] = (data[field] - mean)/std

In [25]:
data

     admit       gre       gpa  rank_1  rank_2  rank_3  rank_4
0        0 -1.798011  0.578348       0       0       1       0
1        1  0.625884  0.736008       0       0       1       0
2        1  1.837832  1.603135       1       0       0       0
3        1  0.452749 -0.525269       0       0       0       1
4        0 -0.586063 -1.208461       0       0       0       1
..     ...       ...       ...     ...     ...     ...     ...
395      0  0.279614  1.603135       0       1       0       0
396      0 -0.239793 -0.919418       0       0       1       0
397      0 -1.105469 -1.996759       0       1       0       0
398      0  0.972155  0.683454       0       1       0       0
399      0  0.106478  1.314093       0       0       1       0

[400 rows x 7 columns]

### Split off random 10% of the data for testing

In [30]:
np.random.seed(42)
sample = np.random.choice(data.index, size=int(len(data)*0.9), replace=False)
data, test_data = data.loc[sample], data.drop(sample)

In [34]:
len(test_data)

40

In [33]:
len(data)

360

### Split into features and targets

In [35]:
features, targets = data.drop('admit', axis=1), data['admit']
features_test, targets_test = test_data.drop('admit', axis=1), test_data['admit']

# 2. Gradient Descent

In [36]:
def sigmoid(x):
    """
    Calculate sigmoid
    """
    return 1 / (1+np.exp(-x))

### TODO: We haven't provided the sigmoid_prime function like we did in
###       the previous lesson to encourage you to come up with a more
###       efficient solution. If you need a hint, check out the comments
###       in solution.py from the previous lecture.

In [38]:
def sigmoid_prime(x):
    """
    # Derivative of the sigmoid function
    """
    return sigmoid(x) * (1 - sigmoid(x))

In [39]:
# Use to same seed to make debugging easier
np.random.seed(42)

n_records, n_features = features.shape
last_loss = None

In [40]:
# Initialize weights
weights = np.random.normal(scale=1 / n_features**.5, size=n_features)

In [53]:
np.zeros(weights.shape)

array([0., 0., 0., 0., 0., 0.])

In [47]:
# Neural Network hyperparameters
epochs = 1000
learnrate = 0.5

for e in range(epochs):
    del_w = np.zeros(weights.shape)
    for x, y in zip(features.values, targets):
        # Loop through all records, x is the input, y is the target

        # Activation of the output unit
        #   Notice we multiply the inputs and the weights here 
        #   rather than storing h as a separate variable 
        output = sigmoid(np.dot(x, weights))

        # The error, the target minus the network output
        error = y - output

        # The error term
        #   Notice we calulate f'(h) here instead of defining a separate
        #   sigmoid_prime function. This just makes it faster because we
        #   can re-use the result of the sigmoid function stored in
        #   the output variable
        error_term = error * output * (1 - output)

        # The gradient descent step, the error times the gradient times the inputs
        del_w += error_term * x

    # Update the weights here. The learning rate times the 
    # change in weights, divided by the number of records to average
    weights += learnrate * del_w / n_records

    # Printing out the mean square error on the training set
    if e % (epochs / 10) == 0:
        out = sigmoid(np.dot(features, weights))
        loss = np.mean((out - targets) ** 2)
        if last_loss and last_loss < loss:
            print("Train loss: ", loss, "  WARNING - Loss Increasing")
        else:
            print("Train loss: ", loss)
        last_loss = loss

Train loss:  0.26276093849966364
Train loss:  0.20928619409324895
Train loss:  0.20084292908073417
Train loss:  0.1986215647552789
Train loss:  0.19779851396686018
Train loss:  0.19742577912189863
Train loss:  0.19723507746241065
Train loss:  0.19712945625092465
Train loss:  0.19706766341315077
Train loss:  0.19703005801777368

In [48]:
# Calculate accuracy on test data
tes_out = sigmoid(np.dot(features_test, weights))
predictions = tes_out > 0.5
accuracy = np.mean(predictions == targets_test)
print("Prediction accuracy: {:.3f}".format(accuracy))

Prediction accuracy: 0.725